body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("image2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

h1 {
    color: goldenrod;
    margin-top: 20px;
}

button {
    color: darkgreen;
    width: 150px;
    background-color: goldenrod;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 2px;
}

#card-btn {
    margin-top: 5px;
}

#message-el {
    margin-top: 20px;
    font-style: italic;
}
